absl-py==1.4.0
altair==5.0.1
vl-convert-python
alabaster==0.7.13
attrs==22.2.0
Babel==2.12.1
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
ConfigSpace==0.6.1
contourpy==1.0.7
cycler==0.11.0
dask==2023.3.2
dgl==1.0.1
distributed==2023.3.2
distro==1.8.0
docopt==0.6.2
docutils==0.18.1
exceptiongroup==1.1.0
filelock==3.10.4
flake8==6.0.0
fonttools==4.38.0
fsspec==2023.3.0
geojson==2.5.0
google-auth==2.16.3
google-auth-oauthlib==0.4.6
grpcio==1.51.3
HeapDict==1.0.1
idna==3.4
imageio==2.24.0
imagesize==1.4.1
imgaug @ git+https://github.com/marcown/imgaug.git@74e63f23dc0788a752e18acfa7ac39d8ea67a3c0
importlib-metadata==6.1.0
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
liac-arff==2.5.0
locket==1.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.6.3
mccabe==0.7.0
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
networkx==3.0
numpy==1.24.1
oauthlib==3.2.2
opencv-python==4.7.0.68
openslide-python==1.2.0
packaging==23.0
pandas==1.5.2
partd==1.3.0
Pillow==9.4.0
pipreqs==0.4.11
pluggy==1.0.0
protobuf==3.20.3
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pynisher==1.0.5
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.0
shapely==2.0.1
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.11.1
tblib==1.7.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==2.2.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
tornado==6.2
tqdm==4.64.1
-e git+https://github.com/Jerry-Master/lung-tumour-study.git#egg=tumourkit
typing_extensions==4.4.0
urllib3==1.26.14
Werkzeug==2.2.3
xgboost==1.7.4
yarg==0.1.9
zict==2.2.0
zipp==3.15.0
